body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white; 
    color: blue; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black; 
    font-weight: bold;
    text-decoration: none; 
}

.download-app-button {
    background-color: white; /* White background */
    border-radius: 50px; /* Circular shape */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
}

.download-app-button a {
    color: black; /* Black text */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


